<div class="card">
    <div class="card-header">Product List</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter By</div>
            <div class="col-md-4">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>Filtered By</h1>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='products && products.length>0'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary">Show Image</button>
                        </th>
                        <th>
                            Product
                        </th>
                        <th>Rate</th>
                        <th>Available</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products">
                        <td></td>
                        <td>{{p.name}}</td>
                        <td>{{p.rate}}</td>
                        <td>{{p.available}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
